@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --gold: #EFC764;
    --white: #FFFFFF;
    --bg-color: #2F2325;
    --light-blue: #97D4D9;
    --text-color: #FFF2E7;
    --input-color: #C8BAB2;
    --section-color: #483636;
}

html {
    font-size: 62.5%;
    font-family: 'Concert One', cursive;
}

body {
    background-color: var(--bg-color);
    padding-bottom: 1.5rem;
}

input {
    height: 5rem;
    width: 27rem;
    text-indent: 1rem;
    border-radius: 1rem;
    font-family: inherit;
    border: 3px solid var(--bg-color);
    font-size: clamp(2rem, 5vw, 2.5rem);
    background-color: var(--input-color);
}

button {
    width: 100%;
    height: max-content;
    max-width: 37rem;
    border-radius: 1rem;
    font-family: inherit;
    color: var(--bg-color);
    border: 3px solid var(--bg-color);
    font-size: clamp(3rem, 100%, 4.5rem);
    background-color: var(--input-color);
}

button > a {
    display: block;
    width: 100%;
    color: var(--section-color);
}

.container {
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#header {
    color: var(--white);
    font-weight: bolder;
    margin: 3.5rem 0px 5rem 3.5rem;
    font-size: clamp(4.5rem, 5vw, 8rem);
}

#container-flex {
    display: flex;
    flex-wrap: wrap;
}

#container-flex > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25rem;
    min-width: 29rem;
}

#first-section-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    font-size: 4rem;
    color: var(--text-color);
    border-radius: 2rem 0 0 2rem;
    border: 3px solid var(--white);
    background-color: var(--section-color);
}

#second-section-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    font-size: 4rem;
    color: var(--text-color);
    border-radius: 0 2rem 2rem 0;
    border: 3px solid var(--white);
    background-color: var(--section-color);
}

#name-field,
#age-field,
#skills-field {
    text-align: center;
    color: var(--light-blue);
}

#name-result,
#age-result,
#skills-result {
    text-align: center;
    color: var(--gold);
}

.section-title {
    text-align: center;
    font-size: clamp(3.5rem, 5vw, 5rem);
}

.input-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    max-width: 40rem;
}

.input-flex > label {
    flex-grow: 1;
}

.container-input-flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}